// Colores principales de la empresa
$nin-redActivated: #bf0a08;
$nin-redDesactivated: #cc3333;
$nin-black: #222;
$nin-grey: #5b5b5b;
$nin-transparentGrey: #57575759;
$nin-ligthGrey: #e2e2e2;
$nin-white: #fff;

// Colores de identificacion de departamento
$design-department: #631590;
$web-department: #1b84ad;
$marketing-department: #1a7e17;
$human-department: #e97a13;

// Colores gradiantes de identificacion de departamento
$gradient-design-department: linear-gradient(to bottom left, #8920c5, #340e4b);
$gradient-web-department: linear-gradient(to bottom left, #238dd4, #125c66);
$gradient-marketing-department: linear-gradient(to bottom left, #2fce2a, #0e440c);
$gradient-human-department: linear-gradient(to bottom left, #ff8818, #ac611c);

// Status de empleados y proyectos
$active: green;
$inactive: red;
$vacation: blue;
$process: orange;

// Otros colores
$transparent-hover: rgba(24, 24, 24, 0.5);
$transparent-background: rgba(34, 34, 34, 0.452);
$shadow-box-loginImg: 0px -10px 70px 0px rgba(124, 124, 124, 0.75);
$shadow-box-loginForm:0px 0px 70px 0px rgba(124, 124, 124, 0.75);
$shadow-box-shortElement: 0px 0px 40px 0px rgba(165, 165, 165, 0.75);
$shadow-box-deparments: -5px 5px 10px 0px rgba(138, 138, 138, 0.75);
$grey: lightgrey;
$table-border: 1px solid $grey;
$info-color: rgb(21, 88, 165);

// Margenes internos y externos
$search-padding: 5px 20px;

// Tamaños de fuente
$menu-fontSize: 18px;